# 1.

In [1]:
emp1 = (1, "John Doe", "HR")
emp2 = (2, "Jane Smith", "IT")
emp3 = (3, "Alice Johnson", "Finance")
emp4 = (4, "Bob Brown", "Marketing")

emp_records = [emp1, emp2, emp3, emp4]

print(f"Employee 1: {emp_records[0]}\nEmployee 2: {emp_records[1]}\nEmployee 3: {emp_records[2]}\nEmployee 4: {emp_records[3]}  ")

Employee 1: (1, 'John Doe', 'HR')
Employee 2: (2, 'Jane Smith', 'IT')
Employee 3: (3, 'Alice Johnson', 'Finance')
Employee 4: (4, 'Bob Brown', 'Marketing')

# 2.

In [2]:
inventory = []

inventory.append((101, "Laptop", 25))
inventory.append((102, "Apples", 50))
inventory.append((103, "Sandwitches", 30))
inventory.append((104, "Bags", 100))

for items in inventory:
    print(f"\nItem ID: {items[0]}\nDescription: {items[1]}\nQuantity Available: {items[2]}")

Item ID: 101
Description: Laptop
Quantity Available: 25

Item ID: 102
Description: Apples
Quantity Available: 50

Item ID: 103
Description: Sandwitches
Quantity Available: 30

Item ID: 104
Description: Bags
Quantity Available: 100

# 3.

In [3]:
from datetime import datetime

scheduled_events = []
scheduled_events.append(("Team Meeting", datetime(2024, 8, 18, 10, 30)))
scheduled_events.append(("Doctor Appointment", datetime(2024, 8, 19, 14, 0)))
scheduled_events.append(("Project Deadline", datetime(2024, 8, 20, 17, 0)))
scheduled_events.append(("Lunch with Client", datetime(2024, 8, 21, 12, 30)))

# Accessing scheduled events
for events in scheduled_events:
    print(f"\nEvent: {events[0]}\nDate and Time: {events[1].strftime('%Y-%m-%d %H:%M')}")

Event: Team Meeting
Date and Time: 2024-08-18 10:30

Event: Doctor Appointment
Date and Time: 2024-08-19 14:00

Event: Project Deadline
Date and Time: 2024-08-20 17:00

Event: Lunch with Client
Date and Time: 2024-08-21 12:30

# 4.

In [4]:
company_employees = {
    "HR": { 1: {"Name": "John Doe", "Position": "HR Manager", "Salary": 60000}, 2: {"Name": "Jane Roe", "Position": "Recruiter", "Salary": 45000}},
    "IT": { 3: {"Name": "Alice Smith", "Position": "Software Engineer", "Salary": 85000}, 4: {"Name": "Bob Johnson", "Position": "System Administrator", "Salary": 70000}},
    "Finance": { 5: {"Name": "Charlie Brown", "Position": "Accountant", "Salary": 50000}, 6: {"Name": "Dana White", "Position": "Financial Analyst", "Salary": 55000}}
}

for dept, emp in company_employees.items():
    print(f"\nDepartment: {dept}")
    for emp_id, details in emp.items():
        print(f"ID: {emp_id}, Name: {details['Name']}, Position: {details['Position']}, Salary: ${details['Salary']}")

Department: HR
ID: 1, Name: John Doe, Position: HR Manager, Salary: $60000
ID: 2, Name: Jane Roe, Position: Recruiter, Salary: $45000

Department: IT
ID: 3, Name: Alice Smith, Position: Software Engineer, Salary: $85000
ID: 4, Name: Bob Johnson, Position: System Administrator, Salary: $70000

Department: Finance
ID: 5, Name: Charlie Brown, Position: Accountant, Salary: $50000
ID: 6, Name: Dana White, Position: Financial Analyst, Salary: $55000

# 5.

In [7]:
students_scores = [
    {"Name": "Alice", "Scores": {"Math": 85, "English": 92, "Science": 88}},
    {"Name": "Bob", "Scores": {"Math": 78, "English": 81, "Science": 90}},
    {"Name": "Charlie", "Scores": {"Math": 92, "English": 87, "Science": 85}},
    {"Name": "Diana", "Scores": {"Math": 88, "English": 94, "Science": 91}},
]

student_name = str(input("Enter Student Name:"))
for student in students_scores:
    if student["Name"] == student_name:
        student_scores = student["Scores"]
        break

if student_scores:
    print(f"{student_name}'s scores are:")
    for subject, score in student_scores.items():
        print(f"{subject}: {score}")
else:
    print(f"No scores found for {student_name}.")

Enter Student Name: Alice

Alice's scores are:
Math: 85
English: 92
Science: 88

# 6.

In [9]:
projects = {
    "Science Project": {"Task 1: Initial Research", "Task 2: Design Phase", "Task 3: Development"},
    "Art Project": {"Task 1: Requirements Gathering", "Task 2: Prototyping", "Task 3: Testing"},
    "Social Media Project": {"Task 1: Market Analysis", "Task 2: Strategy Planning", "Task 3: Execution"},
}

project_name = "Science Project"
tasks = projects.get(project_name)

if tasks:
    print(f"Tasks for {project_name}:")
    for task in tasks:
        print(f"- {task}")
else:
    print(f"No tasks found for {project_name}.")

{'Task 1: Initial Research', 'Task 3: Development', 'Task 2: Design Phase'}
Tasks for Science Project:
- Task 1: Initial Research
- Task 3: Development
- Task 2: Design Phase

# 7.

In [18]:
training_program = {
    "Python programming": {
        "Module 1": {"Title": "Introduction to Python", "Duration": "2 hours", "Topics": ["Variables", "Data Types", "Basic Syntax"]},
        "Module 2": {"Title": "Control Structures", "Duration": "3 hours", "Topics": ["If Statements", "Loops", "Functions"]},
        "Module 3": {"Title": "OOP", "Duration": "4 hours", "Topics": ["Classes", "Objects", "Inheritance"]},
    },
    "Data science": {
        "Module 1": {"Title": "Data Analysis with Python", "Duration": "5 hours", "Topics": ["Pandas", "NumPy", "Data Visualization"]},
        "Module 2": {"Title": "ML Basics", "Duration": "6 hours", "Topics": ["Supervised Learning", "Unsupervised Learning", "Model Evaluation"]},
        "Module 3": {"Title": "Deep Learning", "Duration": "7 hours", "Topics": ["Neural Networks", "TensorFlow", "Keras"]},
    },
    "Web development": {
        "Module 1": {"Title": "HTML & CSS", "Duration": "3 hours", "Topics": ["HTML Basics", "CSS Styling", "Responsive Design"]},
        "Module 2": {"Title": "JavaScript Essentials", "Duration": "4 hours", "Topics": ["JavaScript Basics", "DOM Manipulation", "Event Handling"]},
        "Module 3": {"Title": "Backend Development", "Duration": "5 hours", "Topics": ["Node.js", "Express.js", "Databases"]},
    }
}

course_name = str(input("Enter Course Name:"))
module_name = str(input("Enter Module Name:"))

module_details = training_program.get(course_name).get(module_name)

if module_details:
    print(f"\nDetails of {module_name} in {course_name}:")
    print(f"Title: {module_details['Title']}")
    print(f"Duration: {module_details['Duration']}")
    print("Topics Covered:")
    for topic in module_details["Topics"]:
        print(f"- {topic}")
else:
    print(f"No details found for {module_name} in {course_name}.")

Enter Course Name: Web development
Enter Module Name: Module 1

Details of Module 1 in Web development:
Title: HTML & CSS
Duration: 3 hours
Topics Covered:
- HTML Basics
- CSS Styling
- Responsive Design

# 8.

In [29]:
products = [
    ("Laptop", 1000),
    ("Smartphone", 800),
    ("Headphones", 150),
    ("Monitor", 300),
    ("Keyboard", 50),
    ("Mouse", 25)
]

price_threshold = 500
affordable_products = []

for product in products:
    name, price = product  #unpack tuples
    if price < price_threshold:
        affordable_products.append(product)

print(f"Products Price below ${price_threshold}:")
for name, price in affordable_products:
    print(f"{name}: ${price}")

Products below $500:
Headphones: $150
Monitor: $300
Keyboard: $50
Mouse: $25